@{
    ViewBag.Title = "Home Page";
}

@Styles.Render("~/Content/slickgrid")
<br /><br />
<div id="container">
    <div id="myGrid" style="height:350px; width:500px;"></div>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/slickgrid")
@Scripts.Render("~/bundles/home")